.vs/਍ⸯ獶਍
.vs/
packages/
obj/Debug/
bin/Debug/
input-replayer/bin/Debug/
input-replayer/obj/Debug/

bin\Debug\
obj\Debug\
input-replayer\input-replayer\bin\Debug\
input-replayer\input-replayer\obj\Debug\
input-replayer\input-replayer\bin\
input-replayer\input-replayer\obj\